Repository voxpupuli/puppet-catalog_diff, pull requests merged in 2024-10, with the labels that each got.

#110 Allow trusted facts to be derived from node name
  lib/puppet/catalog-diff/compilecatalog.rb
  lib/puppet/face/catalog/diff.rb
  lib/puppet/face/catalog/pull.rb
  lib/puppet/face/catalog/seed.rb
Labels: enhancement

#123 Replace remaining invocations of obsolete URI.escape
  lib/puppet/catalog-diff/searchfacts.rb
Labels: bugfix

#122 Release 4.1.0
  CHANGELOG.md
  Rakefile
  metadata.json
Labels: skip-changelog
